body{
 padding: 0px;
 margin: 0px;
 background-image:url(./Images/achtergrond_forum.jpg);
 background-repeat:round;
}

div.title{
  font-size: 76pt;
  font-family: agency fb;
  text-transform: uppercase;
  text-align: center;
  color: #045DA8;
  background: rgba(255,255,255,0.75);
}

div.textbox{
  background-color: white;
  padding-left: 10px;
  margin: 50px;
  padding: 15px;
}


/* NAVIGATION */
div.nav{
  height: 40pt;
  line-height: 40pt;
  font-family: agency fb;
  text-transform: uppercase;
  font-size:36pt;
}


li.nav{
  display: inline;
  border: 1px solid white;
  padding-left: 25px;
  padding-right: 25px;
}

a.nav{
  text-decoration: none;
  color: white;
}
/* NAVIGATION */
