body {
    padding: 0px;
    margin: 0px;
    background-image: url(./Images/achtergrond_forum.jpg);
    background-repeat: repeat;
}

div.title {
    font-size: 76pt;
    font-family: agency fb;
    text-transform: uppercase;
    text-align: center;
    color: #045DA8;
    margin-top: -80px;
    background: rgba(255, 255, 255, 0.75);
}

div.newtopic{
  font-family: agency fb;
  color: #045DA8;
  background-color: white;
  padding-left: 10px;
  padding-bottom: 15px;
  margin: 50px;
  border-radius: 10px;
  font-size: 25pt;
  text-transform: uppercase;
}

h2.newtopic{
  font-size: 30pt;
  padding-top: 15px;
}

input.newtopic {
    font-size: 30pt;
    border-radius: 5px;
    margin-bottom: 50px;
}

select.newtopic{
  font-size: 30pt;
  border-radius: 5px;
}

div.topic {
    font-family: agency fb;
    color: #045DA8;
    background-color: white;
    padding-left: 10px;
    padding-bottom: 15px;
    margin: 50px;
    border-radius: 10px;
}

h2.topic {
    font-size: 36pt;
    text-transform: uppercase;
    padding-top: 15px;
}

p.topic {
    font-family: bahnschrift;
}

img.topic {
    padding: 5px;
    margin: 5px;
}

div.Header {
    background: rgba(34, 66, 128, 0.75);
    height: 200px;
}

/* NAVIGATION */
div.nav {
    font-family: agency fb;
    text-transform: uppercase;
    font-size: 36pt;
    margin-top: -80px;
}

li.nav {
    background: rgba(255, 255, 255, 0.75);
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

a.nav {
    color: #045DA8;
    text-decoration: none;
    font-weight: bold;
}

/* NAVIGATION */

/* ACCOUNT */
#accounticon {
    position: fixed;
    width: 5%;
    right: 10px;
    top: 10px;
}

input.submit {
    width: 25%;
    font-family: agency fb;
    text-transform: uppercase;
    font-size: 40pt;
}

input.account {
    font-size: 36pt;
    border-radius: 5px;
    margin: 50px;
}

div.accountbox {
    background: rgba(255, 255, 255, 0.75);
    padding-left: 10px;
    margin: 50px;
    padding: 15px;
    border-radius: 10px;
    font-size: 40pt;
    font-family: agency fb;
    text-transform: uppercase;
}

/* ACCOUNT */

img.back {
    float: left;
}
